.jsmodal-window {
	width: 600px;
	left: 20px;
	top: 20px;
	position: absolute;
	position: fixed;
	margin: 0px auto;
	color: #808080;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	background-color: #FFFFFF;
	border: 1px solid #EAEEFA;
	border: 1px solid rgba(234, 238, 250, 0.6);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
	z-index: 99999;
	display: none;
}

.jsmodal-window-header {
}
.jsmodal-window-body {
}

.jsmodal-window a.close {
position: absolute;
right: 15px;
top: 15px;
color: #999;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 17px;
font-weight: normal;
line-height: 10px;
text-decoration: none;
}